$colorR:red;
$colorW: white;

body{
    font-family: 'Open Sans', sans-serif;
}
.content:hover .animImag{
    animation: zoom 1s;
    animation-timing-function: ease-in-out;
}
.content{
 width: 409px;
 height: 504;
}


.top{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.date{
    color:$colorW;
    background-color: $colorR;
    border-radius: 100%;
    width: 55px;
    height: 55px; 
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 330px;
   
}

.img{
    width: 400px;
    height: auto;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
}

.content:hover .img{
    opacity:0.8;
}

.legend{
    display: flex;
    background-color: $colorR;
    color: white;
    width: 70px;
    height: 40px ;
   align-items: center;
}

.bottom{
    background-color: white;
}

.content:hover .bottom{
    animation: mouv 1s;
}

h2{
    color:$colorR;
}

.text{
    color:white;
    transition-property: color;
    transition-duration: 1s;
    padding-top: 20px;
}

.content:hover .text{
    color:grey;
}

.foot{
    color:grey;
}



@keyframes mouv{
    0%{
        transform: translateY(0px);
     
    }
    100%{
        transform: translateY(-100px);
      
    }
}
@keyframes zoom{
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.045);
    }
}